<label>Sort: <select (change)='sort($event)'>
        <option value=""></option>
        <option value="byNameAZ">by Name A-Z</option>
        <option value="byNameZA">by Name Z-A</option>
        <option value="byPriceLowest">by Price - lowest</option>
        <option value="byPriceHighest">by Price - highest</option>
        <option value="byPurchaseMethodAuction">by Purchase Method - auction first</option>
        <option value="byPurchaseMethodBuyNow">by Purchase Method - buy now first</option>
    </select>
</label>