ul{
    margin-top: 30px;
    list-style:none;
    li{
        width: 90%;
        margin: 0 auto 10px;
        display: flex;
        padding-bottom: 10px;
        justify-content: center;
        border-bottom: 1px solid lightgrey;
        img{
            width: 50%;
        }
        .description{
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            margin-left: 10px;
            justify-content: space-around;
            p:nth-child(2){
                margin-top: 5px;
                font-size: 1.3em;
            }
            p:nth-child(3){
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: red;
            }
        }
    }
}
