.list{
    margin-top: 30px;
    list-style:none;
}
.element{
    width: 90%;
    margin: 0 auto 10px;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    &__photo{
        width: 50%;
    }
    &__description-container{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-left: 10px;
        justify-content: space-around;
    }
    &__price{
        margin-top: 5px;
        font-size: 1.3em;
    }
    &__purchase-method{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: red;
    }
        
    }

.nothing-found{
    margin-top: 20px;
    font-size: 30px;
}


