<p class='filters' (click)="showFilters()">filters</p>
<div class="filters__container" *ngIf="active">
    <div class="filters__filter">
        <h2 class='filters__header'>By price</h2>
        <form class='filters__form' (change)='setPrice($event)'>
            <label class='filters__label'><input class='filters__input' type="radio" name="price" checked>All</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="price" value='below100'>Below
                100$</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="price"
                    value='100-300'>100$-300$</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="price"
                    value='300-600'>300$-600$</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="price"
                    value='600-1000'>600$-1000$</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="price" value='over1000'>over
                1000$</label>
        </form>
        <label class='custom-filter-label'>From:<input class='custom-filter-label__input' type="number" name="first"
                [(ngModel)]='priceValueFrom'>$
            To:<input class='custom-filter-label__input' type="number" name="second"
                [(ngModel)]='priceValueTo'>$</label>

    </div>
    <div class="filters__filter">
        <h2 class='filters__header'>By purchase Method</h2>
        <form class='filters__form' (change)='setPurchaseMethod($event)'>
            <label class='filters__label'><input class='filters__input' type="radio" name="purchaseMethod"
                    checked>All</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="purchaseMethod"
                    value='buyNow'>Buy now</label>
            <label class='filters__label'><input class='filters__input' type="radio" name="purchaseMethod"
                    value='auction'>Auction</label>
        </form>
    </div>
    <button class='btn btn--show' (click)='showFilteredArray()'>Show</button>
    <br>
    <button class='btn btn--reset' (click)='reset()'>Reset</button>
</div>