.filters{
    color: grey;
    margin: 5px 5px 20px 0;
    text-transform: uppercase;  

    &__header{
        text-align: left;
        margin: 20px 0 20px 5px;
    }
    &__label{
        display: block;
        width: 100%;
        margin: 5px 0 0 5px;
        text-align: left;
    }

    &__input{
        margin-right: 5px;
    }   
}
.custom-filter-label{
    display: block;
    margin: 10px 0 0 5px;
    text-align: left;
    
    &__input{
        width: 100px;
    }
}
.btn{
    padding: 5px 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    
    &--show{
        background-color: lightskyblue;
        color: white;
    }
    &--reset{
        background-color: lightgray;
    }
}
